/* 
#983240
#FEC3BB
 */

html, body{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}



.bg-pink{
  background-color: #FEC3BB;
}

.bg-burgundy{
  background-color: #983240;
}

.text-pink{
  color: #FEC3BB;
}

.text-burgundy {
  color: #983240;
}

.border-pink{
  border-color: #FEC3BB;
}

.border-burgundy{
  border-color: #983240;
}

.btn-pink{
  background-color: #FEC3BB;
  color: #000000;
}

.btn-pink:hover{
  border-color: #983240;
  background-color: #983240;

  color: white;
}

.btn-burgundy{
  background-color: #983240;
  color: #ffffff;
}

.btn-burgundy:hover{
  border-color: #FEC3BB;
  background-color: #FEC3BB;

  color: rgb(0, 0, 0);
}

.bg-top-gradient{
  background: rgb(152,50,64);
  background: linear-gradient(180deg,rgba(255,255,255,1) 0%,rgba(254,195,187,1) 40%, rgba(255,255,255,1) 100%);
}
.services-gradient{
  background: rgb(152,50,64);
  background: linear-gradient(90deg,rgba(255,255,255,1) 0%,rgba(254,195,187,1) 40%, rgba(255,255,255,1) 100%);
}

#bg-img{
    background: url('../images/logo3.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    height: 55rem;
}



/*
 * Globals
 */


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */



.cover-container {
  max-width: 42em;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgb(0, 0, 0);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #000000;
  border-bottom-color: #000000;
}

a:hover {
  cursor: pointer;
}

.promo-img-1 {
  /* max-width: 100%; */
  height: 47rem;
}

.promo-img-2 {
  /* max-width: 100%; */
  height: 70rem;
}

@media screen and (max-width: 768px) {
  .promo-img-1 {
    height: 40rem;

  }
  .promo-img-2 {
    height: 40rem;

  }
  
  #bg-img {
    height: 30rem;
  }
}

@media screen and (max-width: 480px) {
  #bg-img {
    height: 10rem;
  }
  .promo-img-1 {
    height: 25rem;

  }
  .promo-img-2 {
    height: 30rem;

  }
}

.hide-me {
  -webkit-animation: cssAnimation 7s forwards;
  animation: cssAnimation 7s forwards;
}

@keyframes cssAnimation {
  0% {
      opacity: 1;
  }

  90% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}

@-webkit-keyframes cssAnimation {
  0% {
      opacity: 1;
  }

  90% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}