{% extends 'base.html' %}
{% load static %}

{% block head_title %}
Home
{% endblock head_title %}

{% block content %}
<div class="w-100">
    <div class="row">
        <div class="col d-flex align-items-center bg-white">
            <div class="pe-5 text-end">
                <h1 class="display-1 fw-bold">I-Dolls Promotional
                    Agency</h1>
                <h3>Capturing the essence of your brand, one moment at a time
                </h3>

            </div>
        </div>
        <div class="col-lg-5 p-0 m-0">
            <div id="carouselExampleInterval"
                class="carousel slide"
                data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active"
                        data-bs-interval="4000">
                        <img src="{% static 'images/top1.png' %}"
                            class="d-block w-100"
                            alt="...">
                    </div>
                    <div class="carousel-item"
                        data-bs-interval="4000">
                        <img src="{% static 'images/top2.png' %}"
                            class="d-block w-100"
                            alt="...">
                    </div>
                    <div class="carousel-item"
                        data-bs-interval="4000">
                        <img src="{% static 'images/top3.png' %}"
                            class="d-block w-100"
                            alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"
                        aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon"
                        aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <section class="mb-5">
<div class="w-100 bg-dark m-0 p-0" style="height: 2rem;"></div>
        <div class="container text-center">
            <h1 class="display-2 fw-bold text-burgundy">The Power Of
                Promotional
                Models</h1>
            <p class="fw-bold fs1">Welcome to I-Dolls Promotional Agency, where
                our
                ambassadors are more than just a friendly face – they are the
                driving force behind your brand’s success! With charisma,
                expertise, and a passion for engaging audiences, our team
                transforms casual event-goers into excited customers.
                Partnering
                with I-Dolls means you're not just hiring promotional models;
                you're empowering your brand with vibrant, energetic advocates
                who
                bring your vision to life and elevate your brand to new
                heights.
                Let us turn your next event into an unforgettable experience!
            </p>
            <br>
            <div class="row row-cols-1 row-cols-md-3 g-4">

                {% for promo in object_list %}

                <div class="col"
                    style="height: fit-contnt;">
                    <div class="card h-100 rounded-5 shadow">
                        <img src="{{promo.image.url}}"
                            class="card-img-top rounded-top-5"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{promo.title|title}}</h5>
                            <p class="card-text">{{promo.description}}.</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <section class="text-center my-5">
        <a class="btn btn-lg btn-burgundy px-5 rounded-pill"
            href="{% url 'booking' %}">Services</a>
    </section>
    <section class="row bg-burgundy">
        <div class="col">
            <img class="promo-img-1"
                src="{% static 'images/img4.png' %}"
                alt="">
        </div>
        <div class="col text-white p-lg-5 p-5">
            <div class="p-lg-5">
                <h1 class="display-4 fw-bold">Our Promo Models and Promo Girls
                </h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad
                    dicta debitis, repellat cumque hic excepturi commodi
                    quaerat
                    eveniet sunt quae praesentium magnam sint quas dolore enim
                    perferendis deserunt aliquid nam..</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
                    saepe quos atque vel nostrum facere dolorem temporibus sunt
                    sapiente qui. Aut non, necessitatibus optio atque magnam
                    facere
                    nisi perspiciatis exercitationem?.</p><br>
                <a class="btn btn-lg btn-light px-5 rounded-pill"
                    href="{% url 'booking' %}">More</a>
            </div>
        </div>
    </section>
    <section class="row bg-burgundy">

        <div class="col text-white p-lg-5 p-5">
            <div class="p-lg-5">
                <h1 class="display-4 fw-bold">Why Choose I-Dolls Promotional
                    Agency?</h1><br>
                <p>At I-Dolls Promotional Agency, we go beyond the ordinary.
                    We’re
                    dedicated to making every interaction with your brand
                    unforgettable. Here's why choosing I-Dolls is the right
                    move
                    for your promotional needs:</p>
                    <strong>Tailored Solutions</strong>
                    <p>We understand that no two brands are alike. That's why
                        we
                        customize our services to match your unique vision and
                        goals,
                        ensuring a personalized approach that aligns perfectly
                        with
                        your brand’s identity.</p>
                    <strong>Dynamic Team of Experts</strong>
                    <p>Our team is composed of experienced professionals who
                        are
                        passionate about brand promotion. With expertise in
                        hosting,
                        product sampling, modeling, bottle service, and more,
                        our
                        ambassadors know how to connect with audiences and
                        elevate
                        your
                        brand’s image.</p>
                    <strong>Engaging Experiences</strong>
                    <p>We believe in the power of engagement. Whether through
                        face-to-face interactions or online campaigns, we focus
                        on
                        creating memorable experiences that resonate with your
                        target
                        audience, leading to stronger connections and greater
                        brand
                        loyalty.</p>
                    <strong>Proven Results</strong>
                    <p>I-Dolls is driven by results. We pride ourselves on
                        consistently
                        delivering successful campaigns that boost brand
                        visibility,
                        drive sales, and leave a lasting impact. Our
                        ambassadors
                        know
                        how to make your brand stand out at any event or
                        promotion.
                    </p>
                    <strong>Professionalism with a Personal Touch</strong>
                    <p>We combine professionalism with warmth, ensuring your
                        brand
                        is
                        represented with integrity, energy, and an inviting
                        attitude.
                        From start to finish, our team works closely with you
                        to
                        exceed
                        your expectations.</p>
                <p>Choose I-Dolls Promotional Agency and partner with a team
                    that’s
                    committed to helping you achieve your promotional goals.
                    Let’s
                    elevate your brand to new heights together!</p>
                <br>

                <a class="btn btn-light btn-lg px-5 rounded-pill"
                    href="{% url 'booking' %}">More</a>
            </div>
        </div>
        <div class="col mx-auto">
            <img class="promo-img-2 mx-auto"
                src="{% static 'images/img5.png' %}"
                alt="">
        </div>
    </section>
    <div class="row">
        <div class="col-lg-5 p-0 m-0">
            <div id="carouselExampleInterval"
                class="carousel slide"
                data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active"
                        data-bs-interval="4000">
                        <img src="{% static 'images/top1.png' %}"
                            class="d-block w-100"
                            alt="...">
                    </div>
                    <div class="carousel-item"
                        data-bs-interval="4000">
                        <img src="{% static 'images/top2.png' %}"
                            class="d-block w-100"
                            alt="...">
                    </div>
                    <div class="carousel-item"
                        data-bs-interval="4000">
                        <img src="{% static 'images/top3.png' %}"
                            class="d-block w-100"
                            alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"
                        aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon"
                        aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div id="contact-us" class="col bg-white p-5">
            <div class="pe-5 text-lg-start text-center">
                <h1 class="display-1 fw-bold">I-Dolls Promotional
                    Agency</h1>
            </div><br>
            <div class="p-5 text-lg-start d-flex justify-content-evenly">
                <p class="me-2"><a class="text-dark"
                        href=""><i class="bi bi-facebook fs-1"></a></i></p>
                <p class="me-2"><a class="text-dark"
                        href=""><i class="bi bi-instagram fs-1"></a></i></p>
                <p class="me-2"><a class="text-dark"
                        href="mailto:idolls758@gmail.com"><i
                            class="bi bi-envelope-at fs-1"></a></i></p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}