<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for service in services %}
    <a class="text-decoration-none text-dark"
        href="{% url 'booking' %}">
        <div class="col"
            style="height: fit-content;">
            <div class="card h-100 border-0">
                <img src="{{service.image.url}}"
                    class="card-img-top rounded-5 shadow"
                    alt="{{service.image.url}}">
                <div class="card-body">
                    <h5 class="card-title text-center">{{service.name|title}}
                    </h5>
                    <p class="card-text">{{service.desc}}</p>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>