{% load static %}
<div class="row">
    {% for social in socials %}
    <div class="col-lg-1 mx-auto mb-2 mb-lg-0">
        <a class="text-white text-decoration-none"
            target="_blank"
            href="{{social.link}}">
            <div class="d-flex align-items-center">
                
                <span><img
                        src="{% get_static_prefix %}icons/{{social.icon}}.svg"
                        alt=""></span>
            
                <br>
            </div>
        </a>
    </div>
    {% endfor %}
</div>