<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for value in values %}
    <div class="col"
        style="height: fit-contnt;">
        <div class="card h-100 rounded-5 shadow">
            <img src="{{value.image.url}}"
                class="card-img-top rounded-top-5"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">{{value.name|title}}</h5>
                <p class="card-text">{{value.desc}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>