{% load static %}
{% load pwa %}
<!doctype html>
<html lang="en">

<head>
    <meta name="description"
        content="I-Dolls Promotional Agency, based in Saint Lucia, offers comprehensive and integrated promotional services. Our experienced team specializes in event promotions, brand ambassadorship, product sampling, and more. Since our launch, we've worked with top clients across various sectors, ensuring efficiency and success at special events and exhibitions.">

    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1">
    {% progressive_web_app_meta %}
    <title>
        {% block head_title %}

        {% endblock head_title %}
        - I-Dolls
    </title>

    <link rel="stylesheet"
        href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet"
        href="{% static 'css/playfair.css' %}">

    <link rel="stylesheet"
        href="{% static 'css/styles.css' %}">


    <link rel="shortcut icon"
        href="{% static 'images/logo1.png' %}"
        type="image/x-icon">


</head>

<body>
    {% include 'nav-bar.html' %}

    {% include 'messages.html' %}
    <div class="min-vh-100">
        {% block content %}

        {% endblock content %}
    </div>
    {% include 'footer.html' %}

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
</body>

</html>