{% load static %}
<section class="row text-bg-dark py-4 border-top border-white">
    <div class="col-lg-8 mx-auto">
        <div class="row mx-5">
            <div
                class="col-lg-3 d-flex justify-content-center align-items-center">
                <img class="border border-3 border-dark rounded-4"
                    style="width: 100%;"
                    src="{% static 'images/clients1.png' %}"
                    alt="{% static 'images/clients1.png' %}">
            </div>
            <div id="contact-us"
                class="col-lg-8 mx-auto">
                <div class="row">
                    <div class="text-center">
                        <img style="height: 5rem; width:10rem;"
                            src="{% static 'images/logo1.png' %}"
                            alt="{% static 'images/logo1.png' %}">
                    </div>
                </div>
                <div class="text-center">
                    <h1 class="display-5 fw-bold text-center">I-Dolls
                        Promotional
                        Agency</h1>
                </div>

                <p class="fs-3 text-center">Contact us</p>
                <br>
                <div class="mx-2">
                    {% include 'page/includes/socials.html' %}
                </div>
            </div>
        </div>
    </div>
</section>